.login{
    margin-top: 10%
}
.login .loginContainer .btnContainer .check{

}  
#btnSignUp{
    float: left;
    margin-left: 40%;
    
} 
#btnSignIn{
   margin-right: 40%;
    float: right;
}
#userInput:hover {
 border-right: none;
 border-top: none;
 border-left: none;
 background-color: white;
 margin-left: 5px;
}
#passwordInput{

}
.clear{
    clear: both;
}
.login{
   border-bottom: solid 2px orange; 
}