.login{
    margin-top: 5%;
    text-align: center;
    width: 200px;
    margin-left: 43%;
    border: solid 5px orange;
    color: black;
}
.login .loginContainer .btnContainer .check{

}  
#btnSignUp{
    float: left;
    margin-left:32%;
    /* background-color:rgb(18, 146, 140); */
    /* color: white; */
   
} 
#btnSignUp:hover{
    color:green;
}
#btnSignIn:hover{
    color:green;
}
#btnSignIn{
    /* background-color:rgb(18, 146, 140); */
    margin-right:10%;
}
#userInput:hover {
 border-right: none;
 border-top: none;
 border-left: none;
 background-color: white;
 margin-left: 5px;
}
#passwordInput{

}
.clear{
    clear: both;
}
