body{
  width:  100%;
}
.wrappall{
  width: 100%;
  float: left;
}
.wrappall .left-Content{
  margin-left: 1%;
  margin-top: 1%;
  width:25%;
  background-color: blueviolet;
  height: 100%;
float: left;

}
.wrappall .left-Content .login{
  margin-bottom:10%;
}
.wrappall .left-Content .todo{
 margin-bottom: 1%;
}
.wrappall .Right-Content{
  width: 70%;
  margin-left:1%;
  float: left;
  background-color: cadetblue;
  border-left:solid 1px black;
  margin-top: 1%;

}